*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root{
background-color: #EEE;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
@media(max-width:1159px){
  #root{
    height: auto;
  }
}